.ujo-the-problem {
    background: url(../img/bg_problem.jpg) no-repeat center;
    background-size: cover;
    min-height: 100%;
    .content{
        margin-top: 20%;
        p{
            
            margin-left: 20px;
            margin-bottom: 30px;
            font-size: 1.1em;
            line-height: 1.7em;
        }
    }
}
